<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>LayerShow_requirejs</title>
    <style>
        input{
            margin:10vh 10vw;
            border:solid 1px #ff0000;
        }
    </style>
</head>

<body>
    <div>
        <input type="button" value="点我弹层" />
        <br />
        <input type="text" />
    </div>
    <script data-main="/widget/main.js" src="/inc/require.js"></script>
</body>

</html>
